---
import Layout from '../layouts/Layout.astro';
import pkg from '../../package.json';

import { execSync } from 'child_process';
const build = execSync('git rev-parse HEAD').toString().trim();
const buildLink = `https://github.com/DemwE/portfolio-rework/tree/${build}`;

// Get system information
let systemInfo: string;
try {
    if (process.platform === 'win32') {
        systemInfo = execSync('ver').toString().trim();
    } else {
        systemInfo = execSync('uname -a').toString().trim();
    }
} catch (error) {
    systemInfo = 'Failed to get system information';
}
---

<Layout title="Info">
    <main class="flex flex-col h-screen justify-center items-center">
        <div class="rounded-2xl bg-slate-700 text-white m-auto w-1/5 min-w-[300px] min-h-fit px-6">
            <div class="m-2">
                <h1 class="text-2xl p-2 text-center">Dependencies</h1>
                <ul class="p-4 bg-slate-800 rounded-2xl">
                    {Object.entries(pkg.dependencies).map(([key, value]) => (
                            <li>{key}: {value}</li>
                    ))}
                </ul>
                <h1 class="text-2xl p-2 text-center">Dev dependencies</h1>
                <ul class="p-4 bg-slate-800 rounded-2xl">
                    {Object.entries(pkg.devDependencies).map(([key, value]) => (
                            <li>{key}: {value}</li>
                    ))}
                </ul>
                <h1 class="p-2 text-2xl text-center">Current build: </h1>
                <p class="overflow-auto p-4 bg-slate-800 rounded-2xl text-center"><a href={buildLink} class="no-underline hover:underline decoration-sky-500 decoration-2" aria-label={build} target="_blank">{build}</a></p>
                <h1 class="p-2 text-2xl text-center">System info: </h1>
                <p class="overflow-auto p-4 bg-slate-800 rounded-2xl text-center">{systemInfo}</p>
            </div>
        </div>
    </main>
</Layout>