---
import { execSync } from 'child_process';
const build = execSync('git rev-parse HEAD').toString().trim();

const currentYear = new Date().getFullYear();
const buildLink = `https://github.com/DemwE/portfolio-rework/tree/${build}`;
---

<div class="bg-slate-800 text-center md:justify-between md:flex rounded-t-lg  mx-auto px-5 text-white p-1">
    <p class="p-1">&copy; {currentYear} DemwE</p>
    <div class="sm:flex justify-center">
        <p class="p-1">Current build: </p>
        <p class="p-1 overflow-auto"><a href={buildLink} class="no-underline hover:underline decoration-sky-500 decoration-2" aria-label={build} target="_blank">{build}</a></p>
    </div>
</div>
