---
import { Image } from 'astro:assets';
import tailwind_css_logo from '../images/tailwind-css.svg';
import linux_logo from '../images/linux.svg';
import rust_logo from '../images/rust.png';
import javascript_logo from '../images/javascript.svg';
import astro_js_logo from '../images/astro-js.svg';
import html_logo from '../images/html.svg';
import css_logo from '../images/css.svg';
import git_logo from '../images/git.svg';
import Skill from '../components/Skill.astro';
---

<div class="max-lg:my-5">
    <h1 class="text-4xl text-center font-quenda">Skills</h1>
    <div class="grid grid-cols-1 gap-3 justify-items-center p-3 bg-gray-700 rounded-2xl sm:min-w-[300px]">
        <Skill image={tailwind_css_logo} name="Tailwind CSS">
            <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 95%"> 95%</div>
        </Skill>
        <Skill image={linux_logo} name="Linux">
            <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 85%"> 85%</div>
        </Skill>
        <Skill image={rust_logo} name="Rust">
            <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 70%"> 70%</div>
        </Skill>
        <Skill image={javascript_logo} name="Java Script">
            <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 80%"> 80%</div>
        </Skill>
        <Skill image={astro_js_logo} name="Astro">
            <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 95%"> 95%</div>
        </Skill>
        <Skill image={html_logo} name="HTML">
            <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 100%"> 100%</div>
        </Skill>
        <Skill image={css_logo} name="CSS">
            <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 95%"> 95%</div>
        </Skill>
        <Skill image={git_logo} name="GIT">
            <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 90%"> 90%</div>
        </Skill>
    </div>
</div>