---
import { Image } from 'astro:assets';
import tailwind_css_logo from '../images/tailwind-css.svg';
import linux_logo from '../images/linux.svg';
import rust_logo from '../images/rust.svg';
import javascript_logo from '../images/javascript.svg';
import astro_js_logo from '../images/astro-js.svg';
import html_logo from '../images/html.svg';
import css_logo from '../images/css.svg';
import git_logo from '../images/git.svg';
---

<div>
    <h1 class="text-4xl text-center font-quenda">Skills</h1>
    <div class="grid grid-cols-2 gap-3 justify-items-center p-3 bg-gray-700 rounded-2xl">
        <Image class="w-40 h-40" src={tailwind_css_logo} alt="Tailwind CSS Logo" />
        <Image class="w-40 h-40" src={linux_logo} alt="Linux Logo" format="avif"/>
        <Image class="w-40 h-40" src={rust_logo} alt="Rust Logo" format="avif"/>
        <Image class="w-40 h-40" src={javascript_logo} alt="JavaScript Logo" format="avif"/>
        <Image class="w-40 h-40" src={astro_js_logo} alt="Astro JS Logo" format="avif"/>
        <Image class="w-40 h-40" src={html_logo} alt="HTML Logo" format="avif"/>
        <Image class="w-40 h-40" src={css_logo} alt="CSS Logo" format="avif"/>
        <Image class="w-40 h-40" src={git_logo} alt="Git Logo" format="avif"/>
    </div>
</div>